* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #E7EAEE;
}



#player-names {
    padding-left: 10px;
}

#player-names > * {
    margin-bottom: 10px;
}

.left-panel {
    margin-left: 30px;
}

.right-panel {
    margin-right: 30px;
}

.left-panel, .right-panel {
    background-color: #ffd449;
    color: #3b4654;
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}


.board {

     display: flex;
    flex-direction: column;
    align-items: center;
}

.board  h1 {
    font-size: 2.5rem;
}
.cell-row {
    display: flex;
    

}

.cell {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: #3b4654;
    margin: 5px;
    line-height: 100px;
    font-size: 4rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffd449;

}

.winsquare {
    background-color: #ffd449;
    color: #3b4654;
    pointer-events: none;
}

.cell:hover {
    background-color: #66788f;
}

.result {
    color: #3b4654;
    font-size: 1.5rem;
    font-weight: 800;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
    
}


.restart {
    display: none;
}

.restartAI {
    display: none;
}

.restart button, .restartAI button, #startGame, #playComputer {
    margin-top: 20px;
	background-color:#3b4654;
    border-radius: 5px;
	display:inline-block;
	
	color:#ffd449;
	font-size: 1.2rem;
	font-weight:bold;
	padding:10px 20px;

    
}



.restart, .restartAI {
    padding-left: 30px;
};

input {
    border-radius: 5px;
}

#play-computer {
    margin-bottom: 20px;
    margin-left: 10px;
}

#play-computer > * {
    padding-bottom: 5px;
    margin-top: 10px;
}

#play-computer > p {
    margin-bottom: 0;
    padding-left: 3px;
    font-size: 1.2rem;
    font-weight: bold;
}
